@import '../../styles/mixin';
@import '../../styles/variable';

.profile {
    @include maximum-content-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
    }

    &__frame {
        margin-right: 2rem;
    }

    &__image {
        border-radius: 50%;
        object-fit: cover;
        width: 150px;
        height: 150px;
        //position: absolute;

        @include tablet {
            width: 250px;
            height: 250px;
        }
    }

    &__bio {
        flex: 1;
        margin-bottom: 1rem;

        @include tablet {
            flex: 2;
            padding-right: 2rem;
            margin-bottom: 0;
        }

        &-top {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            @include tablet {
                align-items: center;
            }
        }
    }
}

.user-box {

    &__main {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &__secondary {
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }
}

.info-box {
    border: 1px gray solid;
    border-radius: 6px;
    width: 90vw;
    @include tablet {
        width: 320px;
    }
    min-height: 180px;
    margin-bottom: 1.5rem;

    &__title {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 2rem;
        justify-content: space-between;
        border-bottom: 1px solid rgba(182, 175, 175, 0.521);

        h3 {
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__content {
        padding: 0.5rem 2rem;
        display: flex;
        flex-wrap: wrap;
    }
}

.extras {
    border: 1px solid black;
    border-radius: 6px;

    &__title {
        background-color: #ddd;
        height: 3rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    &__content {
        padding: 0.5rem 2rem;
        height: 16rem;
    }
}

.modal {

    &__btn{
        position: absolute;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        border-style: none;
        background-color: $primary;
    }

    &__btn:hover {
        cursor: pointer;
    }

    &__icon {
        fill: whitesmoke;
    }

}

.pill {
    background-color: $secondary;
    color: white;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 6px;
}