@import '../../styles/mixin';
@import '../../styles/variable';

.profile {
    @include maximum-content-width;
    margin: 0 auto;
    display: flex;

    &__frame {
        margin-right: 2rem;
    }

    &__image {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    &__bio {
        flex: 2;
        padding-right: 2rem;

        &-top {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
        }
    }
}

.info-box {
    border: 1px gray solid;
    border-radius: 6px;
    width: 320px;
    height: 180px;
    margin-bottom: 1.5rem;

    &__title {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 2rem;
        justify-content: space-between;
        border-bottom: 1px solid rgba(182, 175, 175, 0.521);

        h3 {
            font-weight: 700;
            font-size: 18px;
        }
    }

    &__content {
        padding: 0.5rem 2rem;
        display: flex;
        flex-wrap: wrap;
    }
}

.extras {
    border: 1px solid black;
    border-radius: 6px;

    &__title {
        background-color: #ddd;
        height: 3rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    &__content {
        padding: 0.5rem 2rem;
        height: 16rem;
    }
}

.btn-modal {
    position: absolute;
}

.pill {
    background-color: $secondary;
    color: white;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 6px;
}