// Linking dependencies
@use './variable' as *;


// Tablet
@mixin tablet {
    @media(min-width: $tablet-breakpoint){
        @content;
    }
}

// Desktop
@mixin desktop {
    @media(min-width: $desktop-breakpoint){
        @content;
    }
}

// Content width vw
@mixin maximum-content-width {
    width: 90vw;

    @include tablet {
        width: 93.75vw;
    }

    @include desktop {
        width: 1080px;
    }
}

// Button
@mixin btn {
    padding: 0 1rem;
    margin-right: 1rem;
    height: 3rem;
    border-radius: 5px;
    color: white;
    background-color: $primary;
    transition: 0.6s;

    &:hover {
        background-color: white;
        color: $primary;
    }
}