@import '../../styles/mixin';
@import '../../styles/variable';

.home {
    @include maximum-content-width;
    margin: 0 auto;
    width: 100vw;
}

.hero {
    height: calc(100vh - 5rem);
    display: flex;
    align-items: center;

    &__image {
        height: 480px;
    }

    &__content {
        margin-right: 2rem;

        &-title {
            margin-bottom: 2rem;
            font-size: 50px;
        }

        &-description {
            font-size: 20px;
            margin-bottom: 2rem;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        width: 60%;
        text-align: center;
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.card-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.home-card {
    border: 1px solid black;
    border-radius: 6px;
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(179, 171, 171, 0.671);
}

.additionalInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__title {
        margin-bottom: 1rem;
    }

    &__content {
        margin-left: 2rem;
    }

    &__image {
        height: 400px;
    }

    &__description {
        margin-bottom: 2rem;
    }
}

.button {
    @include btn;
}