@import '../../styles/mixin';
@import '../../styles/variable';

.home {
    @include maximum-content-width;
    margin: 0 auto;
    //width: 100vw;
}

.hero {
    @include maximum-content-width;
    margin: 0 auto;
    height: calc(100vh - 8rem);
    display: flex;
    flex-direction:column;

    @include tablet{
        height: calc(100vh - 5rem);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__image {
        display: none;

        @include tablet {
            height: 400px;
            display: block;
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        @include tablet {
            margin-right: 2rem;
            justify-content: center;
        }

        &-title {
            
            @include tablet {
                margin-bottom: 2rem;
                font-size: 50px;
            }
        }

        &-description {
            font-size: 20px;
            margin-bottom: 2rem;
        }
    }
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;

    &__header {
        text-align: center;

        @include tablet{
            width: 60%;
        }
    }

    &__title {
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
}

.home-card {
    border: 1px solid black;
    border-radius: 6px;
    height: 200px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(179, 171, 171, 0.671);
    margin-bottom: 2rem;

    @include tablet {
        margin-bottom: 0;
    }
}

.additionalInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__title {
        margin-bottom: 1rem;
    }

    &__content {
        
        @include tablet {
            margin-left: 2rem;
        }
    }

    &__image {
        display: none;

        @include tablet {
            display: block;
            width: 50vw;
            margin-bottom: 5rem;
        }

        @include desktop {
            width: auto;
            height: 400px;
        }
    }

    &__description {
        margin-bottom: 2rem;
    }
}

.button {
    @include btn;
}