@import '../../styles/mixin';

.resources {
    margin: 0 auto;
    @include maximum-content-width;

    &__tray {
        margin: 2rem 0 ;
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap;
        
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
        }
    }
}
 
.resource-card {
    width: 240px;
    margin-bottom: 1rem;
    @include tablet {
        height: 180px;
        margin-bottom: 0;
    }
    box-shadow: 6px 6px 10px rgba(128, 128, 128, 0.123);
    border-radius: 8px;

    &__image {
        border-radius: 8px 8px 0 0;
        height: 135px;
        width: 240px;
        object-fit: cover;
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
    }
}

.btn {
    text-transform: uppercase;
    padding: 0 1rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.community-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}