@import '../../styles/mixin';
@import '../../styles/variable';

.navbar {

    @include maximum-content-width;

    margin: 0 auto;

    &__left {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__item {

        font-weight: 500;

        &--secondary {
            @include tablet{
                display: none;
            }
        }
            
        &--home {
            font-size: 2rem;
            font-weight: 800;
        }
    }

    &__lists {
        display: flex;
        justify-content: space-between;
    }
    
    &__auth {
        display: none;
        @include tablet {
            display: flex;
        }
    }


    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    
        &__right {
            display: flex;
            align-items: center;
        }
    
        &__left {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }
    
        &__lists {
            display: flex;
            align-items: center;
        }
    }

    &__btn {
        
        padding: 0 1rem;
        height: 3rem;
        border-radius: 5px;
        color: white;
        background-color: $primary;
        border: 1px solid white;
        transition: 0.6s;

        &--secondary {
            background-color: white;
            color: $primary;
            display: none;

            @include tablet {
                display: block;
            }
        }

        &:hover {
            background-color: white;
            color: $primary;
            cursor: pointer;
        }

        &--secondary:hover {
            color: white;
            background-color: $primary;
            cursor: pointer;
        }

        &--special {
            margin-left: 1rem;
        }
    }
    
}

.link {
    text-decoration: none;
    margin-left:1rem;
    color: white;
}