@import '../../styles/mixin';
@import '../../styles/variable';

.navbar {
    @include maximum-content-width;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 3rem auto;

    &__right {
        display: flex;
    }

    &__lists {
        display: flex;
    }

    &__auth {
        padding: 0 1rem;
        margin-right: 1rem;
    }
}

.link {
    text-decoration: none;
    margin: 0 1rem;
    color: white;
}